<% provide(:title, 'View User') %>
<% provide(:heading, 'View User') %>
<% provide(:subheading, 'User of Clean Blog') %>
<% provide(:bg, 'about-bg.jpg') %>

<div class="container text-center">
	<p>
	  <strong>Name :</strong>
	  <%= @user.name %>
	</p>
	 
	<p>
	  <strong>Email :</strong>
	  <%= @user.email %>
	</p>

	<div>
		<% if is_admin? || @user.id == session[:user_id] %>
			<%= @user.link_to_edit %> |
		<% end %>
		<%= @user.link_to_index %>
	</div>
</div>