

.bg-Home {
	background-image: url(image_path('home-bg.jpg')) !important;
}

.bg-About {
	background-image: url(image_path('about-bg.jpg')) !important;
}

.bg-Sample {
	background-image: url(image_path('post-bg.jpg')) !important;
}

.navbar {
	border: none !important;
}
