@import "bootstrap";

.bg-Home {
	background-image: url(image_path('home-bg.jpg')) !important;
}

.bg-About {
	background-image: url(image_path('about-bg.jpg')) !important;
}

.bg-Sample {
	background-image: url(image_path('post-sample-image.jpg')) !important;
}