<div class="post-heading">
    <h1><%= yield(:post_title) %></h1>
    <h2 class="subheading"><%= yield(:post_summary) %></h2>
    <span class="meta">Posted by <a href="#"><%= yield(:poster) %></a> on <%= yield(:date_created) %></span>
</div>